.section {
    text-align: justify;
    margin: 30px auto;
    width: 80%;
}
.texture {
    background-color: #f0fbff;
    background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
}
.bgabout {
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
    background-image: url('/19790.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(237,237,237);
    color: rgb(0, 0, 0);
}

.editorcont {
    margin: 5em auto 10em;
    display: flex;
    width: 70% !important;
    min-height: 200px;
    text-align:justify;
}

.git {
    margin: 10em;
}
.git div {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.editorialImage {
    min-height: 200px;
    min-width: 200px;
    margin-right: 20px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
}


.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc h4 {
    color: #383838;
}
.desc h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: #6d6d6d;
}
.desc blockquote {
    color: #505050
}

@media (max-width: 768px) {
    .editorcont {
        flex-direction: column;
        align-items: center;
    }
    .editorialImage {
        height: 100px;
        width: 100px;
        margin-bottom: 40px;
    }
}