.homeposts {
    margin: 3em auto 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.homeimg {
    width: 400px;
    height: 300px;
}

@media (max-width: 760px) {
    .homeimg {
        width: 300px;
        height: 200px;
    }
}