.container {
    width: 70% !important;
    margin: 3em auto;
}
.lead {
    font-size: 3.25em;
    font-weight: 100;
    margin: 10px 0;
}

.authinfo {
    color: rgb(77, 91, 104);
}

.fullpostimg {
    max-height: 400px;
    min-width: 100%;
    object-fit: cover;
}

.postcontent {
    margin: 2em 0;
    text-align: justify;
}