@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 180px;
  max-width: 250px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.2em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 8px;
  border: 2px solid #e8b563;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #f0e8a3;
  background-image: url("/textured-paper.png");
  color: rgb(0, 0, 0);
  padding: 115px 20px 8px;
  margin-top: -100px;
  height: 240px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.thedteam {
  font-family: 'Playfair Display', Arial, sans-serif !important;
}

.dos {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    width:70%;
    margin: 25px auto;
    z-index: -3;
    text-align: center;
}
.dos::after {
    content: "ยง";
    z-index: -0;
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-color: #f0fbff;
    background-image: url("/textured-paper.png");
}

.snip1515 h4 {
  color: #333333;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
